{% extends 'base.html' %}
{% block title %} Добавление нового товара {% endblock %}
{% block title1 %}
<div class="pricing-header px-2 pb-md-4 text-start">
    <h1 class="display-5">Добавьте новый товар</h1>
</div>
{% endblock %}

{% block content %}
    <form method="POST" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-outline-primary">Добавить</button>
    </form>
{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
{% endif %}
{% endblock %}