{% extends 'catalog/base.html' %}
{% block title %} Добавление нового товара {% endblock %}
{% block title1 %}
<div class="pricing-header px-2 pb-md-4 text-center">
    <h1 class="display-5">Добавьте новый товар</h1>
</div>
{% endblock %}

{% block content %}
<form method="POST" class="post-form row" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-6">
        <div class="mb-3">
            <label for="name" class="form-label">Наименование товара</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Введите наименование товара">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Категория</label>
            <select id="category" name="category" class="form-select" required>
                <option selected>Выберите категорию товара</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Укажите стоимость</label>
            <input type="number" step="any" name="price" id="price" class="form-control">
        </div>
        <div>
            <label for="image" class="form-label">Изображение</label>
            <input class="form-control mb-5" name="image" type="file" id="image"
                   placeholder="Загрузите изображение товара">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="description" class="form-label">Описание</label>
            <textarea class="form-control" id="description" rows="9" name="description"
                      placeholder="Введите описание товара"></textarea>
        </div>
        <button type="submit" class="save btn btn-outline-primary">Добавить</button>
    </div>
</form>
{% endblock %}