{% extends 'catalog/base.html' %}
{% block title %} Добавление нового товара {% endblock %}
{% block title1 %}
<div class="pricing-header px-2 pb-md-4 text-center">
    <h1 class="display-5">{% if object %}
        Редактирование продукта
        {% else %}
        Добавление продукта
        {% endif %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-6">
    <form method="POST" class="post-form row" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label>Наименование</label>
            {{ form.name }}
            {% if form.name.errors %}
            <small class="text-danger">{{ form.name.errors.0 }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Описание</label>
            {{ form.description }}
            {% if form.description.errors %}
            <small class="text-danger">{{ form.description.errors.0 }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Цена:</label>
            {{ form.price }}
            {% if form.price.errors %}
            <small class="text-danger">{{ form.price.errors.0 }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Изображение</label>
            {{ form.image }}
            {% if form.image.errors %}
            <small class="text-danger">{{ form.image.errors.0 }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Категория</label>
            {{ form.category }}
            {% if form.category.errors %}
            <small class="text-danger">{{ form.category.errors.0 }}</small>
            {% endif %}
        </div>
        <div class="mb-3">
            <label>Признак публикации</label>
            {{ form.is_published }}
        </div>
        <button type="submit" class="mb-3 save btn btn-outline-primary">
            {% if object %}
            Сохранить изменения
            {% else %}
            Добавить продукт
            {% endif %}
        </button>
        <a type="button" class="btn btn-outline-danger" href="{% url 'catalog:product_delete' object.pk %}">Удалить</a>
    </form>
</div>
{% endblock %}